.wd_recommender {
    width: 100%;
    display: flex;
    position: relative;
}

.wd_recommender .wd_left_control, .wd_recommender .wd_right_control {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18pt;
    top: 40%;
    opacity: 0.75;
    z-index: 2;
}

.wd_recommender .wd_left_control:hover, .wd_recommender .wd_right_control:hover, .wd_recommender_item_box:hover {
    cursor: pointer;
}

.wd_recommender .wd_left_control {
    left: 0;
}

.wd_recommender .wd_right_control {
    right: 0;
}

.wd_recommender_list {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.wd_recommender_list::-webkit-scrollbar {
    display: none;
}

.wd_recommender_item {
    width: 140px;
    text-align: center;
}

.wd_recommender_item img {
    width: 100%;
    height: auto;
}